/doc/work/internnotes.txt
/doc/work
/config.json
/package-lock.json
/.idea
/.env

/nginx/logs
/nginx/servers
/nginx/sample
/nginx/node_modules
/nginx/nginx.conf
/nginx/nginx.pid
/nginx/package-lock.json
/nginx/dist
/nginx/dhparam.pem

/nginxtest
/letsencrypt

/schemas/node_modules
/schemas/package-lock.json
/schemas/dist

/core/node_modules
/core/package-lock.json
/core/dist

/backend/node_modules
/backend/package-lock.json
/backend/dist

/sshserver/node_modules
/sshserver/ssh
/sshserver/dist
/sshserver/package-lock.json

/build/node_modules
/build/package-lock.json

/frontend/node_modules
/frontend/package-lock.json
/frontend/dist
/frontend/assets

/himhip/node_modules
/himhip/package-lock.json
/himhip/dist

/onionhat/node_modules
/onionhat/package-lock.json
/onionhat/dist

/iptable/node_modules
/iptable/package-lock.json
/iptable/dist
/vpn/node_modules/
/vpn/dist/
/vpn/package-lock.json

