/doc/internnotes.txt
/config.json
/.idea

/nginx/logs
/nginx/servers
/nginx/sample
/nginx/node_modules
/nginx/nginx.conf
/nginx/nginx.pid
/nginx/package-lock.json
/nginx/dist

/backend/node_modules
/backend/package-lock.json
/backend/dist

/sshserver/node_modules
/sshserver/ssh
/sshserver/dist

/build/node_modules
/build/package-lock.json

/frontend/node_modules
/frontend/package-lock.json
/frontend/dist
/frontend/assets
