/doc/work/internnotes.txt
/doc/work
/config.json
/.idea

/nginx/logs
/nginx/servers
/nginx/sample
/nginx/node_modules
/nginx/nginx.conf
/nginx/nginx.pid
/nginx/package-lock.json
/nginx/dist
/nginx/dhparam.pem

/nginxtest
/letsencrypt

/backend/node_modules
/backend/package-lock.json
/backend/dist

/sshserver/node_modules
/sshserver/ssh
/sshserver/dist

/build/node_modules
/build/package-lock.json

/frontend/node_modules
/frontend/package-lock.json
/frontend/dist
/frontend/assets

/himhip/node_modules
/himhip/package-lock.json
/himhip/dist

/onionhat/node_modules
/onionhat/package-lock.json
/onionhat/dist